APP_NAME="Opticenter"
APP_ENV=production
APP_DEBUG=false
APP_URL="https://tudominio.com"

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=optica_db
DB_USER=root
DB_PASS=

SRI_MODE=test
SRI_PLAZA=
SRI_EMISSION_POINT=